{% extends "layout.html" %} {% block title %} 어라운드히어 {% endblock %} {% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="https://www.wconcept.co.kr/issue/8902" target="_blank">
                <img src="//image.wconcept.co.kr/images/builder/1/4/15/28/pc_main_frxjumgwon_1920x600_20200424174110.jpg" class="d-block w-100" alt="...">
            </a>
        </div>
        <div class="carousel-item">
            <a href="https://www.wconcept.co.kr/Issue/8938" target="_blank">
                <img src="//image.wconcept.co.kr/images/builder/1/4/15/28/pc04_1920x600_20200424164854.jpg" class="d-block w-100" alt="...">
            </a>
        </div>
        <div class="carousel-item">
            <a href="https://www.wconcept.co.kr/Issue/8945" target="_blank">
                <img src="//image.wconcept.co.kr/images/builder/1/4/15/28/pc12_1920x600_20200424165121.jpg" class="d-block w-100" alt="...">
            </a>
        </div>
        <div class="carousel-item">
            <a href="https://www.wconcept.co.kr/issue/8964" target="_blank">
                <img src="//image.wconcept.co.kr/images/builder/1/4/15/28/pc10_1920x600_20200424165040.jpg" class="d-block w-100" alt="...">
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="style_story">
    <h2>WHAT'S NEW</h2>
    <div id="wconcept-wrap">
        {% for value in products %}
        <div class="card" style="width: 18rem;">
            <a href="{{value['prdUrl']}}">
                <img src="{{ value['imgUrl'] }}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <div class="card-title">
                    <h5>{{ value['brdName'] }}</h5>
                    <p style="font-weight:300;">{{ value['prdName'] }}</p>
                </div>
                <p class="card-text">{{ value['prdPrice'] }} 원</p>
                <a href="{{ value['prdUrl'] }}" class="btn btn-primary" role="button" target="_blank">구매하기</a>
                <a href="#" class="btn btn-default" role="button" onclick='prd_like("wconcept","{{value["prdUrl"]}}")'>찜하기</a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}