{% extends "layout.html" %} {% block title %} 검색페이지 {% endblock %} {% block content %}
<div class="container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-wconcept-tab" data-toggle="tab" href="#nav-wconcept" role="tab" aria-controls="nav-home" aria-selected="true">W컨셉</a>
            <a class="nav-item nav-link" id="nav-musinsa-tab" data-toggle="tab" href="#nav-musinsa" role="tab" aria-controls="nav-profile" aria-selected="false">무신사</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-wconcept" role="tabpanel" aria-labelledby="nav-home-tab">
            <div id="wconcept-wrap">

            </div>
        </div>
        <div class="tab-pane fade" id="nav-musinsa" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div id="musinsa-wrap">

            </div>
        </div>
    </div>

</div>
{% endblock %}