{% extends "layout.html" %} {% block title %} 마이페이지 {% endblock %} {% block content %}

<div class="wrap">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <h2 style="margin-left: 12px;">MY PAGE</h2>
        <a class="nav-link active" id="nav-wconcept-tab" data-toggle="pill" href="#my-wconcept" role="tab" aria-controls="nav-wconcept" aria-selected="true">W concept</a>
        <a class="nav-link" id="nav-musinsa-tab" data-toggle="pill" href="#my-musinsa" role="tab" aria-controls="nav-musinsa" aria-selected="false">무신사</a>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="my-wconcept" role="tabpanel" aria-labelledby="nav-wconcept">
            <div id="wconcept-wrap">

            </div>
        </div>
        <div class="tab-pane fade" id="my-musinsa" role="tabpanel" aria-labelledby="nav-musinsa">
            <div id="musinsa-wrap">

            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='/js/mypage.js') }}"></script>

{% endblock %}